<html>
  <head>
    <title>SLICK CLIP</title>
  </head>
  <body>
    <center><h1>Welcome to SLICK CLIP Salon!</h1></center>
    <p>
      <center>
      <img src="https://1.bp.blogspot.com/-R7OwPkwdM6k/X79ckMtMDlI/AAAAAAABcfE/_moT3ANKxj8b2k4X0DYQ6kfA8kKsiDNgQCNcBGAsYHQ/s400/biyou_mayuge_cut_woman.png" width="300px" height="250px"></img>
      <img src="https://1.bp.blogspot.com/-3NemVYAkobE/X9GX3RlMckI/AAAAAAABcqY/vhDJIs7UuTMbxNIHKOWDdH6XhAYoTx4_wCNcBGAsYHQ/s400/biyou_mayuge_cut_man.png" width="300px" height="250px"></img>
      </center>
    </p>
    <center><h3>Our services include:</h3></center>
    <ul>
      <center>
        <p><h3>Haircut, Shampoo, Blowdry, Manicure & Pedicure</h3></p>
      </center>
    </ul>
    <center><h3>We are open everyday from 10AM to 5PM.</h3></center>
    <center><h3><a href="/booking">Click here to book an appointment.</a></h3></center>
  </body>
</html>